.bottom {
    height: 150px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-top: 1px solid white;
    background-color: darkblue;
}

.grid {
    height: 100px;
    width: 80%;
    /* Fixed positioning is a requirement of an API that is not used in this demo. */
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: purple;
}